PORT=3000

# URL de conexão com o banco de dados (Prisma)
DATABASE_URL="mysql://usuario:senha@host:porta/nome_do_banco"

# Configuração de Autenticação (JWT)
JWT_SECRET="seu_segredo_super_secreto_aqui_de_pelo_menos_32_caracteres"
JWT_EXPIRES_IN=1d
